/* 1) Запрет выделения */
.nocopy,
body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* 2) Скрыть outline для ссылок */
a:focus {
  outline: none;
}

/* 3) Защита от печати */
@media print {
  * {
    display: none !important;
  }
}
